<div>
  <div id='footer' >
    <button>
      <img class='icon' src="../assets/images/pencil.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/screen.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/camera.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/user.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/cog.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/exit.png" alt="Smiley face" width="42" height="42">
    </button>
  </div>
</div>
