#footer {
    text-align: center;
    width: 440px;
    margin-top: -1em;
    margin-left: 41em;
    opacity: .5;
    text-align: center;
}

#footer:hover {
    opacity: 1;
}

.icon{
    filter: invert(61%) sepia(53%) saturate(6958%) hue-rotate(178deg) brightness(105%) contrast(98%);
    padding-right: .5em;
    padding-left: .5em;
    opacity: .5;
}

.icon:hover {
    opacity: 1;
}

#container { position: relative; }

canvas { border: none; }

button { 
    border: none;
    background-color: rgba(255, 255, 255, 0);
}

button:hover{
    background-color: rgba(255, 255, 255, .25);
}