<label>Drawing tool:
		  
  <select id="dtool">
    <option value="pencil">Pencil</option>
  </select>
  </label>

<div id="container">

  <canvas id="imageView" width="400" height="300">
      <p>ERROR! Your browser does not support Canvas! Please try another browser! </p>
    </canvas>

  <div id='footer' >
    <button>
      <img class='icon' src="../assets/images/pencil.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/screen.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/camera.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/user.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/cog.png" alt="Smiley face" width="42" height="42">
    </button>
    <button>
      <img class='icon' src="../assets/images/exit.png" alt="Smiley face" width="42" height="42">
    </button>
  </div>
</div>